name: pull-request
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  code:
    uses: mocktomata/.github/.github/workflows/pnpm-verify-linux.yml@main
    with:
      - node-version: "[16, 18]"
